12345
<div class = "center" id="name-input-wrapper">
  <div *ngIf="!nameEntered">
    <mz-input-container>
      <input mz-input
             [label]="'Name'"
             id="name-input"
             type="email"
             [(ngModel)]="name"
             (keyup)="onInputKeyUp()">
    </mz-input-container>
    <button mz-button
            class="center scale-transition scale-out"
            [id]="nameInputButtonId"
            (click)="onNameInputButtonClick()">
      OK
    </button>
  </div>
  <div class="center scale-transition scale-out" [id]="startButtonsRowId">
    <div>welcome, {{name}}!</div>
    <div class="row">
      <div class="col m6">
        <button mz-button mz-tooltip
                class="center init-start-button"
                [tooltip]="'not implemented yet'">init</button>
      </div>
      <div class="col m6">
        <button mz-button
                class="center init-start-button"
                (click)="onJoinClick()">join</button>
      </div>
    </div>
    <div class="row">
      <div class="col m6 offset-m6 scale-transition scale-out" [id]="enterRoomId">
      <!--<div class="col m6 offset-m6 scale-transition" [id]="enterRoodId">-->
        <div class="init-start-button">
          <mz-input-container class = "row">
            <input mz-input class="col m9"
                   [label]="'room id'"
                   id="room-input"
                   type="number"
                   [(ngModel)]="roomId">
            <div class="col m3">
              <button mz-button id="start-button"
                      [float]="true"
                      [flat]="true"
                      [large]="true" (click)="onMakeJoinRequestClick()">
                <i mz-icon-mdi id="start-icon"
                   [icon]="'arrow-right-bold'">
                </i>
              </button>
            </div>
          </mz-input-container>
        </div>
      </div>
    </div>
  </div>
</div>

