<div *ngIf="isShowSpinner"
     class="center"
     id="loading-spinner">
  <mz-spinner
    [color]="'blue'"
    [size]="'big'">
  </mz-spinner>
  <p>{{loadingText}}</p>
</div>

<div *ngIf="isShowWelcomeComponent">
  <app-welcome (joinEmitter)="playerJoined($event)"
               (requestSentEmitter)="showSpinner()">
  </app-welcome>
</div>

<div *ngIf="isShowCharacterInput">
  <app-ib-character-input [playerId]="playerId"
                          (onCharacterSet)="ibCharacterSetHandler()">
  </app-ib-character-input>
</div>

<div *ngIf="isShowGameComponent">
  <app-game [gameType]="game"
            [gameData]="gameData">
  </app-game>
</div>

<!--<div class="row"  *ngIf="isShowGameComponent">-->
  <!--<div *ngIf="isMobile">-->
    <!--<app-mobile-view>-->
    <!--</app-mobile-view>-->
  <!--</div>-->
  <!--<div *ngIf="!isMobile">-->
    <!--<app-desktop-view>-->
    <!--</app-desktop-view>-->
  <!--</div>-->
<!--</div>-->
