{{isMobile}}
<div *ngIf="!room">
  <app-welcome (roomIdEmitter)="setRoomId($event)"
               (playerIdEmitter)="setPlayerId($event)">
  </app-welcome>
</div>

<div class="row"  *ngIf="room">
  <div *ngIf="isMobile">

  </div>
  <div *ngIf="!isMobile">
    <div class="col m4">
      <app-characters [playerId]="playerId"
                      [teammates]="teammates">
      </app-characters>
    </div>
    <div class="col m8">
      <app-chat [roomId]="room"
                [playerId]="playerId"
                (setTeammatesEmitter)="setTeammates($event)">
      </app-chat>
    </div>
  </div>
</div>
