<div *ngIf="!roomId">
  <app-welcome (roomIdEmitter)="setRoomId($event)"
               (joinEmitter)="playerJoined($event)"
               (requestSentEmitter)="showSpinner()">
  </app-welcome>
</div>

<div *ngIf="isShowSpinner"
     class="center"
     id="loading-spinner">
  <mz-spinner
    [color]="'blue'"
    [size]="'big'">
  </mz-spinner>
  <p>{{loadingText}}</p>
</div>

<div *ngIf="isShowCharacterInput">
  <app-ib-character-input [playerId]="playerId"
                          (onCharacterSet)="ibCharacterSetHandler()">
  </app-ib-character-input>
</div>

<div class="row"  *ngIf="roomId">
  <div *ngIf="isMobile">
    <app-mobile-view>
    </app-mobile-view>
  </div>
  <div *ngIf="!isMobile">
    <app-desktop-view>
    </app-desktop-view>
  </div>
</div>
